.button{
	background-color: #e50914;
	color: white;
	padding: 5px 12px;
	border-radius: 2px;
	border: none;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	transition: background 0.3s ease; 
	margin: 0 20px;
}


.button:hover {
	background-color: #b81d24;
	transform: scale(1.05);
}